<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hundsun.fund.mapper.AccountMapper">
    <select id="selectAvailableAccount" resultType="com.hundsun.fund.account.vo.AccountSearchVO"
            parameterType="com.hundsun.fund.account.dto.AccountSearchDTO">
        SELECT account_id,card_number,belong_bank,balance
        from taccount
        where status = 0 and user_id in (
        select user_id from tuser
        <where>
            <if test="account != null and account != ''">
                and account = #{account}
            </if>
            <if test="idNumber != null and idNumber != ''">
                and id_number = #{idNumber}
            </if>
            <if test="phoneNumber != null and phoneNumber != ''">
                and phone_number = #{phoneNumber}
            </if>
        </where>
        )
    </select>

    <select id="selectAllAccount" resultType="com.hundsun.fund.account.vo.AccountSearchVO"
            parameterType="com.hundsun.fund.account.dto.AccountSearchDTO">
        SELECT account_id,card_number,belong_bank,balance
        from taccount
        where user_id in (
        select user_id from tuser
        <where>
            <if test="account != null and account != ''">
                and account = #{account}
            </if>
            <if test="idNumber != null and idNumber != ''">
                and id_number = #{idNumber}
            </if>
            <if test="phoneNumber != null and phoneNumber != ''">
                and phone_number = #{phoneNumber}
            </if>
        </where>
        )
    </select>

    <select id="getAccountBalance" parameterType="com.hundsun.fund.account.dto.AccountSearchDTO" resultType="java.math.BigDecimal">
        SELECT balance
        from taccount
        where status = 0 and type = 0 and user_id in (
        select user_id from tuser
        <where>
            <if test="account != null and account != ''">
                and account = #{account}
            </if>
            <if test="idNumber != null and idNumber != ''">
                and id_number = #{idNumber}
            </if>
            <if test="phoneNumber != null and phoneNumber != ''">
                and phone_number = #{phoneNumber}
            </if>
        </where>
        )
    </select>

    <select id="getAccountInfo" parameterType="com.hundsun.fund.account.dto.AccountSearchDTO" resultType="com.hundsun.fund.account.vo.AccountVO">
    SELECT user_id,risk_profile,name,account_status
    from tuser
    <where>
        <if test="account != null and account != ''">
            and account = #{account}
        </if>
        <if test="idNumber != null and idNumber != ''">
            and id_number = #{idNumber}
        </if>
        <if test="phoneNumber != null and phoneNumber != ''">
            and phone_number = #{phoneNumber}
        </if>
    </where>
</select>
</mapper>
