<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hundsun.mapper.TransactionRecordMapper">

    <!--
        只是个Demo
        仅用于展示结构与用法
    -->

    <select id="getRecord" resultType="com.hundsun.vo.TransactionRecordVO">
        select d.*, c.name as category_name
        from dish as d
        left outer join category as c
        on d.category_id = c.id
        <where>
            <if test="name != null">
                and d.name like concat('%', #{name}, '%')
            </if>
            <if test="categoryId != null">
                and d.category_id  = #{categoryId}
            </if>
            <if test="status != null">
                and d.status = #{status}
            </if>
        </where>
        order by d.create_time desc
    </select>

</mapper>
