<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hundsun.fund.mapper.SelectionMapper">

    <select id="getTransactionRecord" resultType="com.hundsun.fund.selection.vo.RecordVO">
        select fund_id, account_id, type, use_id, request_time, state
        from trequest
        <where>
            <if test="fundId != null">
                and fund_id = #{fundId}
            </if>
            <if test="accountId != null">
                and account_id = #{accountId}
            </if>

            <if test="type != null">
                and type = #{type}
            </if>
            <if test="useId != null">
                and use_id = #{useId}
            </if>
            <if test="requestTime != null">
            and request_time = #{requestTime}
            </if>
            <if test="state != null">
                and state = #{state}
            </if>
        </where>
        order by d.create_time desc
    </select>

    <select id="getUserPortion" resultType="com.hundsun.fund.selection.vo.PortionVO">
        select *
        from tportion
        where userId = #{userId}
        order by id asc
    </select>

</mapper>