<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hundsun.fund.mapper.QuestionnaireMapper">
    <insert id="insertQuestionnaire" parameterType="com.hundsun.fund.questionnaire.dto.QuestionnaireDTO">
        INSERT INTO tquestion(question_id, stem, option, percent, is_delete)
        VALUES(#{questionId}, #{stem}, #{option}, #{percent}, #{isDelete})
    </insert>

    <update id="deleteQuestionnaireById" parameterType="long">
        UPDATE tquestion SET is_delete = true WHERE question_id = #{questionnaireId}
    </update>

    <update id="updateQuestionnaireById">
        UPDATE tquestion
        SET stem = #{questionnaire.stem},
        option = #{questionnaire.option},
        percent = #{questionnaire.percent},
        is_delete = #{questionnaire.isDelete}
        WHERE question_id = #{questionnaireId}
    </update>

    <select id="selectTop10Questionnaires" resultType="com.hundsun.fund.questionnaire.dto.QuestionnaireDTO">
        SELECT question_id AS 'questionId', stem, `option`, percent, is_delete AS 'isDelete'
        FROM tquestion
        WHERE is_delete = false
        ORDER BY question_id ASC
        LIMIT 10
    </select>

    <!-- 获取接下来的10个问卷，从上一批问卷的最后一个问卷的ID开始 -->
    <select id="getNextTenQuestionnaires" resultType="com.hundsun.fund.questionnaire.dto.QuestionnaireDTO">
        SELECT question_id AS 'questionId', stem, `option`, percent, is_delete AS 'isDelete'
        FROM tquestion
        WHERE question_id > #{lastQuestionnaireId}
        ORDER BY question_id ASC
        LIMIT 10
    </select>

    <select id="selectAllQuestionnaires" resultType="com.hundsun.fund.questionnaire.dto.QuestionnaireDTO">
        SELECT question_id AS 'questionId', stem, `option`, percent, is_delete AS 'isDelete'
        FROM tquestion
        WHERE is_delete = false
    </select>

</mapper>
